h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-family: sans-serif;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img{
        width: 200px;
    }
    h3,p{
        font-size: 15px;
        font-family: sans-serif;
    }
}